
     
        * {
          margin:0;
          padding:0;
        }
        body {
          background-color:#1b252f;
          font-family: "Roboto", sans-serif;
        }
      
        #container {
          position: sticky;      
          width:100%;
          background-color:#5804fa;
          box-shadow: -2px -2px 5px #F14A16,2px -2px 5px white;
        }
        #container > nav {
          width:100%;
          display:flex;
          max-height:60px;
        }
        #logo {
          line-height:60px;
          font-size:30px;
          padding: 0 50px;
          color: white;
          width:40%;
          letter-spacing:2px;
          text-shadow:2px 2px 5px;
        }
        #container > nav > ul {
          margin:0;
          padding:0;
          list-style-type:none;
          display:flex;
          position:absolute;
            right:50px;
        }
        #container > nav > ul > li {
          line-height:60px;
          margin: 0 0px;
          padding:0;
          text-align:center;
          display:inline-block;
          
          min-width:120px;
        
        } 
        #container > nav > ul > li > a {
          position:relative;
          margin: 0 20px;
            color:white;
        }
        #container > nav > ul > li:hover {
          border-bottom: 2px solid rgb(0, 0, 0);
          background-color: #FC9918;
        }
        #container > nav > ul > .dropdown:hover {
          border-bottom:none;
        }
      
     
        a {
          text-decoration:none;
        
        }
        
        #container > nav > ul > li > div {
          position:absolute;
          padding: 0 10px;
          
          background-color:black;
          display:none;
          background-color:aliceblue;
          min-width:100px;
        }
        
        #container > nav > ul > li > div > ul {
          margin:0px 0 10px 0;
          padding:0;
          list-style:none;
        }
    
        #container > nav > ul > li> div > ul > li:hover {
          background-color:rgba(0,0,0,0.2);
        }
        #container > nav > ul > li > div > ul > li > a {
          padding : 5px;
            color:black;
        }




        .about-section {
          padding: 100px;
          text-align: center;
          background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?cs=srgb&dl=pexels-leon-ardho-1552242.jpg&fm=jpg");
          background-size: 85%;
          background-attachment: scroll;
          background-repeat: no-repeat;
          background-position: center;
      
          color: #ffffff;
          font-style: italic;
          font-weight: bold;
        }

/*form*/
        
        .form{
          padding-left: 300px;
          padding-right: 300px;
          margin-bottom: 100px;
        }

        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 5px solid #FC9918;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        input[type=submit] {

          background-color: #5804fa;
          color: white;
          padding: 12px 20px;
          border-radius: 4px;
          cursor: pointer;
          border: 3px solid #FC9918;
        }
        .font{
          color: #ffffff;
        }
        
        input[type=submit]:hover {
          background-color: #FC9918;

        }
        
        .container1 {
          margin-top: 55px;
          border-radius: 5px;
          background-color: #2c3a47;
          padding: 20px;
        }


      

      /* Body /////////////////////////////////////////////*/
      
    
    
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1b252f;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height : 90px;
        width : 1300px;
       
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .content-q {
        background-color: #2c3a47;
          display: block ; 
          color: #ffffff;
          margin: 50px 100px 50px ;
          height: auto;
      }
      .search2{
          width: 65%;
          height: 40px;
          margin: 10px 5px 10px 180px;
          padding-left: 10px;
          background-color: white ;
          border: 0px;
          color:rgb(0, 0, 0);
          font-size: 18px;
          float: left
      }
      .SearchhB{
          width: 6%;
          height: 40px;
          float: left;
          margin:10px 5px 10px 0px;
          font-size: 18px;
          background-color: #5804fa;
        
          border: 5px solid #FC9918;
          border-radius: 10px;
          color: white;
      }
     
      
      .x1{
        color: #ffffff;
        padding:20PX 20px 0 0;
      }
      .pad{
        padding-left:20px;
        text-align: center;

      }
      .pa{
        background-color: #1b252f;
        color:rgb(255, 255, 255) ; padding:0 20px 0 20px  ;
      }
     .ma{
        margin: 30px
      }
      .color{
        background-color: #2c3a47;
        color: #ffffff;
        text-align: center;
      }
      .colorx{
        background-color: #2c3a47;
      
      }
      /* Footer /////////////////////////////////////////////*/
      .container-fluid {
        overflow: hidden;
        margin-top: 250px;
        background: #5804fa;
        color: white !important;
        margin-bottom: 0;
        padding-bottom: 0
      }
      
      small {
        font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
      }
      
      .bold-text {
        color: white !important
      }
      
      .mt-55 {
        margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
      }
      
      h3 {
        font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
      }
      
      .social {
        font-size: 21px !important
      }
      
      .rights {
        font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
      }
    
      .F-Color{
          color: brown;
      }
     