body{
  background-color: #1b252f;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.Carousel-img{
  height: 700px
}
.lineHead1{
  color: #F14A16;
  font-size: 18px;
}
.lineHead2{
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
}
.Line{
  background-color: #F14A16;
  border: 1.3px solid #F14A16;
  opacity: 1;
  border-radius: .6em;
  margin-top: 25px;
}
.spaceLine{
  margin: 50px 0px;
}

.classCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: .5s;
}
.classCard img{
  width: 85%;
}
.classCard:hover{
  transform: scale(1.1);
}
.classCard div{
  color: white;
  background-color: #5804fa;
  width: 85%;
  text-align: center;
  padding: 15px;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  border-bottom: 3px solid #F14A16;
}

.state{
  padding: 60px 80px;
  margin-top: 80px;
}
.state .Line{
  background-color: #ffde01;
  border: #ffde01;

}
.state .lineHead1{
  color: #ffde01;
}
.state .lineHead2{
  color: #ffde01;
  padding: 0px;
}
.stateFont1{
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0px;
}
.stateFont2{
  font-size: 18px;
}
